trunk/views/xsd/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.uvcms.com/views" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:uvcms="http://www.uvcms.com/views">

    <element name="databind" type="uvcms:DataBind"></element>
    
    <complexType name="DataBind">
        <attribute name="key" type="string" use="required"></attribute>
        <attribute name="source" type="string" use="required"></attribute>
    	<attribute name="datatag" type="string" use="required"></attribute>
    </complexType>
</schema>