inc/dtd/forms.dtd

<!ELEMENT forms (form+)>
<!ELEMENT form (name?, id?, action, fields)>
<!ELEMENT action (#PCDATA)>
<!ELEMENT fields (field+)>
<!ELEMENT field (type, name, label, options?, validations?)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT options (option+)>
<!ELEMENT option (value?, label)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT validations (validation+)>
<!ELEMENT validation (#PCDATA)>